--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2

fastapi
uvicorn
sqlalchemy
pymysql
python-dotenv
pydantic[email]
langchain
langchain-chroma
langchain-huggingface
langchain-openai

python-jose[cryptography]
passlib[bcrypt]
sentence-transformers